@use "reset";
@use "./navbar";
li {
  list-style-type: none; }

.category_list:hover {
  cursor: pointer; }

.container_principal_home {
  width: 100%;
  margin: 0 auto; }

.container_products {
  width: 90%;
  margin: 0 auto; }

.container_products_list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding-right: 1.5rem;
  margin: 0 auto;
  padding-left: 1.5rem; }

.products_list {
  height: 100%;
  border: 0.1rem solid gray;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 7px; }

.container_img_product {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center; }

.img_product {
  height: 200px;
  object-fit: contain;
  padding: 1rem; }

.buttom_cart {
  background-color: #f85555;
  color: aliceblue;
  border-radius: 50%;
  padding: 0.4rem 0.7rem;
  padding-top: 0.6rem;
  border: none;
  box-shadow: 0 4px 8px black; }
  .buttom_cart:hover {
    transform: scale(1.1); }

#button-addon2 {
  border-radius: 0 10px 10px 0; }
  #button-addon2:hover {
    transform: scale(1.1); }

.phonedescription {
  display: none; }

.container_principal_Details {
  width: 100%;
  margin: 0 auto;
  padding-top: 1rem; }

.title_details {
  font-size: 20px; }

.container_principal_info_details {
  width: 80%;
  margin: 0 auto; }

.container_title_details {
  display: flex;
  justify-content: left;
  padding: 0.2rem;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem; }

.container_info_productos_details {
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.container_imgPrincipal {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center; }

.img_product_datails {
  object-fit: contain;
  height: 80%; }

.container_info_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  position: relative;
  width: 100%; }

.container_quantity_details {
  position: absolute;
  bottom: 0.5rem;
  left: 60%; }

.container_buttons_quantity {
  display: flex;
  height: 30px; }

.buttom_quantity {
  border-radius: 3px; }
  .buttom_quantity:hover {
    transform: scale(1.1); }

.add-to-card-details {
  padding: 1rem;
  background-color: #f85555;
  border: none;
  color: white;
  border-radius: 5px;
  margin: 1rem 0;
  width: 100%; }
  .add-to-card-details:hover {
    transform: scale(1.1); }

.container_suggested {
  display: flex;
  justify-content: center;
  align-items: center; }

.container_suggested ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  padding-right: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem; }

.container_suggest_product {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 0.1rem solid;
  border-radius: 10px;
  box-shadow: 0 4px 4px black;
  padding: 1rem; }

.container_img_suggested {
  height: 200px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  object-fit: contain; }

.container_info_products_details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 92%;
  position: relative; }

.container_buttom_cart {
  position: absolute;
  right: 0.2rem;
  bottom: 0.5rem; }

.container_credenciales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  text-align: center;
  border: 0.1rem solid;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgba(61, 67, 67, 0.261); }

.container_login {
  width: 80%;
  margin: 4rem auto; }

.carousel-control-prev-icon, .carousel-control-next-icon {
  background-color: #f85555;
  border-radius: 50%;
  padding: 1.5rem; }

.container_all_cart {
  display: flex;
  flex-direction: column;
  gap: 4rem; }

.container_cart_general {
  display: flex;
  gap: 3rem;
  width: 100%;
  position: relative; }

.container_img_cart {
  width: 40%;
  height: 140px; }

.img_cart {
  margin: 0 auto;
  object-fit: contain;
  height: 100px; }

.container_info_cart {
  width: 80%;
  margin-top: 2rem; }

.quaintity-info {
  display: flex; }

.btn-quantity {
  border: 0.1rem solid;
  padding: 0.3rem 1rem;
  margin-top: 1rem; }

.btndelete-cart {
  position: absolute;
  top: -1rem;
  right: 1rem;
  background-color: #f85555;
  color: azure;
  border: none;
  border-radius: 5px;
  padding-top: 0.25rem; }
  .btndelete-cart:hover {
    transform: scale(1.1); }

.container_checkOut {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px; }

.btn-CheckOut {
  border: none;
  background-color: #f85555;
  color: azure;
  padding: 1rem;
  font-size: 20px;
  border-radius: 10px; }
  .btn-CheckOut:hover {
    transform: scale(1.1); }

.container_general_purchases {
  width: 80%;
  margin: 1rem auto; }

.container_info_general_purchases {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem; }

.list_purchases {
  border: 0.25rem solid;
  padding: 1rem;
  border-radius: 5px; }

.container_img_purchases {
  height: 140px; }

.img-purchase {
  margin: 0 auto;
  object-fit: contain;
  height: 100px; }

.container_quantity_purchases {
  border: 0.1rem solid;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 0.5rem 1rem; }

.container_principal_user {
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.link_logout {
  border: 0.1rem solid;
  padding: 5rem 4rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20px; }

.btn_logout {
  background-color: #1e1e1e;
  color: whitesmoke;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px black; }
  .btn_logout:hover {
    transform: scale(1.1); }

.bx-user {
  border: 1px solid;
  border-radius: 50%;
  padding: 2rem; }

.container_signUp {
  width: 80%;
  height: 100vh;
  margin: 5rem auto; }

.inc_nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem; }

.inc_nav i {
  color: rgba(36, 36, 36, 0.744); }

.container_footer {
  width: 100%;
  background-color: #3b3b3b;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: azure; }

.container_social_media {
  display: flex;
  gap: 3rem;
  margin-top: 1rem; }

.container_icons_social {
  border: 1px solid;
  padding: 1rem 1.2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center; }

.container_icons_social i {
  color: azure; }

@media screen and (min-width: 700px) and (max-width: 989px) {
  .container_suggested ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }

  .container_suggest_product {
    height: 400px;
    width: 100%;
    margin: 0 auto; }

  .container_login {
    width: 70%;
    margin: 4rem auto; }

  .container_signUp {
    width: 70%; } }
@media screen and (min-width: 990px) and (max-width: 1299px) {
  .container_principal_home {
    width: 100%;
    display: flex;
    padding-right: 2rem; }

  .container_suggested ul {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  .container_suggest_product {
    height: 400px;
    width: 100%;
    margin: 0 auto; }

  .container_login {
    width: 60%;
    margin: 4rem auto; }

  .container_signUp {
    width: 50%; } }
@media screen and (min-width: 1300px) and (max-width: 1500px) {
  .phonedescription {
    display: block; }

  .pcdescription {
    display: none; }

  .container_info_productos_details {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
    justify-content: space-between; }

  .container_imgPrincipal {
    width: 600px;
    height: 500px; }

  .img_product_datails {
    width: 400px;
    height: 70%;
    margin-top: 10rem; }

  .container_principal_home {
    width: 100%;
    display: flex;
    padding-right: 2rem; }

  .container_suggested ul {
    display: grid;
    grid-template-columns: 1fr 1fr; }

  .container_suggest_product {
    height: 400px;
    width: 100%;
    margin: 0 auto; }

  .title_details {
    font-size: 25px; }

  .container_login {
    width: 50%;
    margin: 4rem auto; }

  .container_signUp {
    width: 50%; } }
@media screen and (min-width: 1501px) {
  .phonedescription {
    display: block; }

  .pcdescription {
    display: none; }

  .container_principal_home {
    width: 100%;
    display: flex;
    padding-right: 2rem; }

  .container_button_search {
    width: 70%;
    margin: 0 auto; }

  .container_principal_Details {
    width: 95%; }

  .container_title_details {
    display: flex;
    gap: 3rem; }

  .title_details {
    font-size: 30px; }

  .container_info_productos_details {
    display: flex;
    flex-direction: row;
    gap: 10rem;
    margin-bottom: 5rem;
    margin-top: 3rem;
    justify-content: space-between; }

  .container_imgPrincipal {
    width: 600px;
    height: 300px; }

  .container_description p {
    height: 200px;
    overflow-x: hidden; }

  .img_product_datails {
    width: 500px;
    height: 100%; }

  .container_info_description {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin-top: -2rem; }

  .buttom_quantity {
    border-radius: 3px;
    padding: 0.95rem;
    display: flex;
    justify-content: center;
    align-items: center; }

  .container_suggest_product {
    height: 400px;
    width: 80%;
    margin: 0 auto; }

  .container_suggested ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-right: 2rem;
    padding-bottom: 5rem; }

  .container_img_suggested {
    height: 200px; }

  .img_product {
    margin: 0 auto;
    object-fit: contain;
    height: 180px; }

  .container_login {
    width: 40%;
    margin: 4rem auto; }

  .container_signUp {
    width: 40%; } }

/*# sourceMappingURL=style.css.map */
